<% layout("main") %>

<% if (user) { %>
<% block('header', user.local.login) -%>
<% } %>


<% for(var i in news) {%>

	<div class="col-xs-12 post">
		<div class="col-xs-5">
			<div>
			<img src="/image/<%= news[i].image %>" >
			</div>
			<div class="left"><%= news[i].datePublisher %></div>
		</div>
		<div class="col-xs-7">
			<h3 class="page-header"><a href="/view/<%= news[i].newsId %>"><%= news[i].title %></a></h3>
			<p><%= news[i].newsShort %></p>
		</div>
	</div>
	
<% } %>

<div class="text-center">
	<ul class="pagination">
	<% for(var i = 1; i <= page; i++) {%>
		<% if(number && i == number) { %>
			<li class="active"><a href="/page/<%= i %>"><%= i %></a></li>
		<% } else {%>
		    <li><a href="/page/<%= i %>"><%= i %></a></li>
	<% } }%>
	</ul>
	</div>