<% layout("main") %>

<% if (user) { %>
<% block('header', user.local.login) -%>
<% } %>

<div class="row post">

    <div class="col-xs-10 col-xs-offset-1">
        <h2 class="page-header ctr"><a href="#"><%= news.title %></a></h2>
        <div class="dtinfo">Дата: <%= news.datePublisher %>
        <span class="right">Источник: <%= news.URI %></span></div>     
    </div>
    <div class="text-center">
        <img src="/image/<%= news.image %>" >
    </div>
        <!--div class="col-xs-5">
            <div>
            <img src="/image/<%= news.image %>" >
            </div>
        </div>
        <div class="col-xs-7">
        <div class="dtinfo"><%= news.datePublisher %></div>
            <h2 class="page-header"><a href="#"><%= news.title %></a></h2>
            <p>Источник: <%= news.URI %></p>
        </div-->
        
    <div class="row post">
        <%- news.newsFull %>
    </div>
        
    <div class="text col-xs-10 col-xs-offset-1">
    <% if (user) { %>
    <form action="/comment/<%= news.newsId %>" method="post" role="form">

       <div class = "form-group">
          <label for="name">Комментарий:</label>
          <textarea class="form-control" rows="3" name="comment"></textarea>
       </div>
       <div>
        <div class="col-sm-offset-1 col-sm-11">
              <div class="pull-right">
                  <button type="submit" class="btn btn-primary">Сохранить</button>
              </div>
        </div>
      </div>
      
    </form>
    <% } else { %>
     <div class="row"><a href="/login">Авторизуйтесь</a>, чтобы оставить комментарий к данной новости</div>
    <% }%>
    </div>
</div>

<div class="row">
    <% for(var i in comment) {%>
    <br />
    <div class="comment">
        <div class="col-xs-10 col-xs-offset-1">
        <b><%= comment[i].user %></b> написал <%= comment[i].date.toLocaleString() %>:
            <div class="col"><%= comment[i].comment %></div>
        </div>
    </div>
    <% }%>
</div>
